// GENERAL
.body--background {
    background-image: url(../img/bgpatronclaro.jpg);
}

.selector--greybg {
    background-color: rgba(161, 161, 161, 0.527);
}

.selector--marginpadding {
    margin: 0.4em;
    padding: 0.6em;
}

.selector__button {
    border-style: solid;
    width: fit-content;
}